{
  "openapi": "3.1.0",
  "info": {
    "title": "OPub API",
    "description": "API voor het zoeken, ophalen en aanleveren van Nederlandse overheidsdocumenten. Bevat AI-verrijkte metadata (samenvattingen, trefwoorden), semantisch zoeken, organisatieprofielen en een chat interface.\n\n## Features\n- **645.000+ documenten** doorzoekbaar via full-text en semantisch zoeken\n- **AI-verrijkte metadata** met samenvattingen, trefwoorden (B1-niveau)\n- **20 synoniemsets** voor Nederlandse overheidsterminologie\n- **4.403 bestuursorganen** met contactgegevens uit organisaties.overheid.nl\n- **Vector search** voor gerelateerde documenten\n- **RAG-gebaseerde chat** met bronvermelding",
    "version": "2.1.0",
    "contact": { "name": "OPub", "url": "https://opub.nl" },
    "license": { "name": "EUPL 1.2", "url": "https://eupl.eu" }
  },
  "servers": [
    { "url": "https://opub.nl/api/v2", "description": "Productie" }
  ],
  "security": [{ "ApiKey": [] }],
  "tags": [
    { "name": "Zoeken", "description": "Full-text en semantisch zoeken in overheidsdocumenten" },
    { "name": "Documenten", "description": "Documenten ophalen en gerelateerde documenten" },
    { "name": "Organisaties", "description": "Bestuursorganen en organisatieprofielen" },
    { "name": "Dossiers", "description": "Dossiers met gerelateerde documenten" },
    { "name": "Chat", "description": "AI-chat over overheidsdocumenten (RAG)" },
    { "name": "Ingest", "description": "Documenten aanleveren (API key vereist)" },
    { "name": "Platform", "description": "Statistieken en instellingen" },
    { "name": "Woo", "description": "Wet open overheid verzoeken" }
  ],
  "paths": {
    "/search": {
      "get": {
        "summary": "Zoek documenten",
        "description": "Doorzoek 645.000+ overheidsdocumenten via full-text search met facets, filters, groepering en optioneel semantisch zoeken.\n\nGebruik `q=*` voor het ophalen van recente publicaties zonder zoekterm.\n\n**Synoniemen** zijn actief: 'woo' vindt ook 'wet open overheid', 'tk' vindt 'tweede kamer', etc.",
        "tags": ["Zoeken"],
        "parameters": [
          { "name": "q", "in": "query", "required": true, "schema": { "type": "string" }, "description": "Zoekterm. Gebruik `*` voor alle documenten." },
          { "name": "page", "in": "query", "schema": { "type": "integer", "default": 1 } },
          { "name": "per_page", "in": "query", "schema": { "type": "integer", "default": 20, "maximum": 100 } },
          { "name": "organisation", "in": "query", "schema": { "type": "string" }, "description": "Filter op organisatie (pipe-separated voor meerdere: `org1|org2`)" },
          { "name": "theme", "in": "query", "schema": { "type": "string" }, "description": "Filter op thema (pipe-separated)" },
          { "name": "category", "in": "query", "schema": { "type": "string" }, "description": "Filter op informatiecategorie (pipe-separated)" },
          { "name": "document_type", "in": "query", "schema": { "type": "string" }, "description": "Filter op documenttype (pipe-separated)" },
          { "name": "date_from", "in": "query", "schema": { "type": "string", "format": "date" }, "description": "Publicatiedatum vanaf" },
          { "name": "date_to", "in": "query", "schema": { "type": "string", "format": "date" }, "description": "Publicatiedatum tot" },
          { "name": "sort", "in": "query", "schema": { "type": "string", "enum": ["relevance", "date_desc", "date_asc", "modified_desc", "modified_asc"] }, "description": "Sorteervolgorde" },
          { "name": "semantic", "in": "query", "schema": { "type": "boolean", "default": false }, "description": "Activeer hybride keyword + vector zoeken (AI-gebaseerd)" },
          { "name": "group_by", "in": "query", "schema": { "type": "string", "enum": ["organisation", "theme", "category", "document_type"] }, "description": "Groepeer resultaten per veld" },
          { "name": "exact", "in": "query", "schema": { "type": "boolean", "default": false }, "description": "Exacte woordovereenkomst (geen typo-correctie of synoniemen)" }
        ],
        "responses": {
          "200": {
            "description": "Zoekresultaten (flat of gegroepeerd)",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    { "$ref": "#/components/schemas/SearchResponse" },
                    { "$ref": "#/components/schemas/GroupedSearchResponse" }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/documents/{id}": {
      "get": {
        "summary": "Document ophalen",
        "description": "Haal een document op met volledige metadata, AI-samenvatting en trefwoorden.",
        "tags": ["Documenten"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" }, "description": "External ID (bv. oep-ob-...)" }
        ],
        "responses": {
          "200": { "description": "Document details", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Document" } } } },
          "404": { "description": "Niet gevonden" }
        }
      }
    },
    "/documents/{id}/similar": {
      "get": {
        "summary": "Gerelateerde documenten",
        "description": "Vind semantisch gerelateerde documenten op basis van AI-vectoranalyse. Gebruikt nomic-embed-text embeddings voor nearest-neighbor search.",
        "tags": ["Documenten"],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" }, "description": "External ID van het brondocument" }
        ],
        "responses": {
          "200": {
            "description": "Gerelateerde documenten",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/SimilarResponse" }
              }
            }
          },
          "404": { "description": "Document niet gevonden" }
        }
      }
    },
    "/organisations/{name}": {
      "get": {
        "summary": "Organisatieprofiel (organisatiekaart)",
        "description": "Haal een organisatieprofiel op met contactgegevens, statistieken, publicatietijdlijn, thema's en recente documenten. Bevat bestuursorgaan-data uit organisaties.overheid.nl indien beschikbaar.",
        "tags": ["Organisaties"],
        "parameters": [
          { "name": "name", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Organisatienaam (URL-encoded)" }
        ],
        "responses": {
          "200": {
            "description": "Organisatieprofiel",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/OrganisationResponse" }
              }
            }
          }
        }
      }
    },
    "/woo-verzoek": {
      "post": {
        "summary": "Woo-verzoek indienen",
        "description": "Dien een Wet open overheid verzoek in voor een specifieke organisatie. Het verzoek wordt geregistreerd en de Woo-contactgegevens worden teruggegeven.",
        "tags": ["Woo"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/WooVerzoek" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Verzoek ontvangen",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "message": { "type": "string" },
                    "woo_email": { "type": "string", "nullable": true, "description": "E-mailadres voor Woo-verzoeken bij deze organisatie" },
                    "contact_id": { "type": "integer" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/dossiers": {
      "get": {
        "summary": "Dossiers ophalen",
        "tags": ["Dossiers"],
        "parameters": [
          { "name": "page", "in": "query", "schema": { "type": "integer", "default": 1 } },
          { "name": "per_page", "in": "query", "schema": { "type": "integer", "default": 20 } }
        ],
        "responses": { "200": { "description": "Dossierlijst", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/PaginatedDocuments" } } } } }
      }
    },
    "/dossiers/{id}": {
      "get": {
        "summary": "Dossier met gerelateerde documenten",
        "tags": ["Dossiers"],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": {
          "200": { "description": "Dossier details", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Dossier" } } } },
          "404": { "description": "Niet gevonden" }
        }
      }
    },
    "/chat/send": {
      "post": {
        "summary": "Chat bericht sturen",
        "description": "Stuur een vraag en ontvang een AI-antwoord gebaseerd op gevonden overheidsdocumenten (RAG). Gebruikt Typesense voor documentretrieval en Ollama LLM voor antwoordgeneratie.",
        "tags": ["Chat"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["message"],
                "properties": {
                  "message": { "type": "string", "maxLength": 1000 },
                  "conversation_id": { "type": "string", "nullable": true, "description": "Bestaand gesprek voortzetten" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "AI antwoord", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/ChatResponse" } } } }
        }
      }
    },
    "/chat/conversations": {
      "get": {
        "summary": "Gesprekken ophalen",
        "tags": ["Chat"],
        "responses": {
          "200": { "description": "Lijst van gesprekken", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Conversation" } } } } }
        }
      }
    },
    "/chat/conversations/{id}/messages": {
      "get": {
        "summary": "Berichten van een gesprek",
        "tags": ["Chat"],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": { "200": { "description": "Berichten", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/ChatMessage" } } } } } }
      }
    },
    "/chat/conversations/{id}": {
      "delete": {
        "summary": "Gesprek verwijderen",
        "tags": ["Chat"],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": { "200": { "description": "Verwijderd" } }
      }
    },
    "/ingest": {
      "post": {
        "summary": "Document aanleveren",
        "description": "Push een nieuw document of update een bestaand document. Vereist API key.",
        "tags": ["Ingest"],
        "security": [{ "ApiKey": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/IngestDocument" },
              "example": {
                "external_id": "custom-doc-001",
                "title": "Besluit gemeenteraad Amsterdam",
                "description": "Besluit over verkeersveiligheid binnenstad",
                "publication_date": "2026-03-15",
                "organisation": "Gemeente Amsterdam",
                "category": "Besluiten",
                "theme": "Verkeer",
                "source": "gemeente-amsterdam-scraper"
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Document bijgewerkt" },
          "201": { "description": "Nieuw document aangemaakt" },
          "422": { "description": "Validatie fout" }
        }
      }
    },
    "/ingest/batch": {
      "post": {
        "summary": "Documenten batch aanleveren (max 100)",
        "tags": ["Ingest"],
        "security": [{ "ApiKey": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["documents"],
                "properties": {
                  "documents": { "type": "array", "maxItems": 100, "items": { "$ref": "#/components/schemas/IngestDocument" } },
                  "source": { "type": "string" }
                }
              }
            }
          }
        },
        "responses": { "200": { "description": "Batch resultaat", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/BatchResult" } } } } }
      }
    },
    "/ingest/{external_id}": {
      "delete": {
        "summary": "Document verwijderen",
        "tags": ["Ingest"],
        "security": [{ "ApiKey": [] }],
        "parameters": [{ "name": "external_id", "in": "path", "required": true, "schema": { "type": "string" } }],
        "responses": { "200": { "description": "Verwijderd" }, "404": { "description": "Niet gevonden" } }
      }
    },
    "/stats": {
      "get": {
        "summary": "Platform statistieken",
        "description": "Totaal documenten, AI-verrijkte documenten, laatste sync, top organisaties, thema's, maandelijkse publicaties en categorieën.",
        "tags": ["Platform"],
        "responses": { "200": { "description": "Statistieken", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Stats" } } } } }
      }
    },
    "/settings": {
      "get": {
        "summary": "Site instellingen",
        "tags": ["Platform"],
        "responses": { "200": { "description": "Instellingen" } }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKey": {
        "type": "apiKey",
        "name": "X-OPUB-API-KEY",
        "in": "header",
        "description": "API key voor schrijf-operaties (ingest). Lees-operaties zijn publiek."
      }
    },
    "schemas": {
      "SearchResponse": {
        "type": "object",
        "properties": {
          "hits": { "type": "array", "items": { "$ref": "#/components/schemas/SearchHit" } },
          "found": { "type": "integer" },
          "page": { "type": "integer" },
          "per_page": { "type": "integer" },
          "total_pages": { "type": "integer" },
          "search_time_ms": { "type": "integer" },
          "facets": { "type": "array" },
          "semantic": { "type": "boolean" }
        }
      },
      "GroupedSearchResponse": {
        "type": "object",
        "properties": {
          "groups": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "group_key": { "type": "string", "description": "Waarde van het group_by veld" },
                "found": { "type": "integer", "description": "Totaal documenten in deze groep" },
                "hits": { "type": "array", "items": { "$ref": "#/components/schemas/SearchHit" } }
              }
            }
          },
          "found": { "type": "integer" },
          "page": { "type": "integer" },
          "per_page": { "type": "integer" },
          "total_pages": { "type": "integer" },
          "search_time_ms": { "type": "integer" },
          "facets": { "type": "array" },
          "semantic": { "type": "boolean" },
          "group_by": { "type": "string" }
        }
      },
      "SearchHit": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "external_id": { "type": "string" },
          "title": { "type": "string" },
          "description": { "type": "string" },
          "organisation": { "type": "string" },
          "publication_date": { "type": "string", "format": "date", "nullable": true },
          "document_type": { "type": "string" },
          "category": { "type": "string" },
          "theme": { "type": "string" },
          "vector_distance": { "type": "number", "nullable": true, "description": "Cosine afstand (0=identiek, alleen bij semantic search)" }
        }
      },
      "SimilarResponse": {
        "type": "object",
        "properties": {
          "document": { "type": "string", "description": "External ID van het brondocument" },
          "similar": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "external_id": { "type": "string" },
                "title": { "type": "string" },
                "description": { "type": "string" },
                "organisation": { "type": "string" },
                "publication_date": { "type": "string", "format": "date" },
                "theme": { "type": "string" },
                "vector_distance": { "type": "number", "nullable": true }
              }
            }
          },
          "search_time_ms": { "type": "integer" }
        }
      },
      "OrganisationResponse": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "total_documents": { "type": "integer" },
          "total_enriched": { "type": "integer" },
          "themes": { "type": "array", "items": { "type": "object", "properties": { "theme": { "type": "string" }, "count": { "type": "integer" } } } },
          "categories": { "type": "array", "items": { "type": "object", "properties": { "category": { "type": "string" }, "count": { "type": "integer" } } } },
          "monthly_publications": { "type": "array", "items": { "type": "object", "properties": { "month": { "type": "string" }, "count": { "type": "integer" } } } },
          "bestuursorgaan": { "$ref": "#/components/schemas/Bestuursorgaan" },
          "recent_documents": { "type": "array", "items": { "$ref": "#/components/schemas/SearchHit" } }
        }
      },
      "Bestuursorgaan": {
        "type": "object",
        "nullable": true,
        "description": "Bestuursorgaan-data uit organisaties.overheid.nl (indien gevonden)",
        "properties": {
          "id": { "type": "integer" },
          "slug": { "type": "string" },
          "naam": { "type": "string" },
          "afkorting": { "type": "string", "nullable": true },
          "type": { "type": "string", "description": "Bv. Gemeente, Ministerie, Inspectie, Agentschap" },
          "logo_url": { "type": "string", "nullable": true },
          "beschrijving": { "type": "string", "nullable": true },
          "bezoekadres": { "type": "string", "nullable": true },
          "postadres": { "type": "string", "nullable": true },
          "woo_adres": { "type": "string", "nullable": true },
          "woo_email": { "type": "string", "nullable": true },
          "telefoon": { "type": "string", "nullable": true },
          "email": { "type": "string", "nullable": true },
          "website": { "type": "string", "nullable": true },
          "contactformulier_url": { "type": "string", "nullable": true },
          "is_woo_plichtig": { "type": "boolean" },
          "woo_url": { "type": "string", "nullable": true },
          "relatie_ministerie": { "type": "string", "nullable": true },
          "is_claimed": { "type": "boolean" }
        }
      },
      "WooVerzoek": {
        "type": "object",
        "required": ["organisation", "naam", "email", "onderwerp", "omschrijving"],
        "properties": {
          "organisation": { "type": "string", "description": "Naam van de organisatie" },
          "naam": { "type": "string", "maxLength": 255 },
          "email": { "type": "string", "format": "email" },
          "onderwerp": { "type": "string", "maxLength": 500 },
          "omschrijving": { "type": "string", "maxLength": 5000 }
        }
      },
      "Document": {
        "type": "object",
        "properties": {
          "id": { "type": "integer" },
          "external_id": { "type": "string" },
          "title": { "type": "string" },
          "ai_enhanced_title": { "type": "string", "nullable": true },
          "description": { "type": "string", "nullable": true },
          "ai_summary": { "type": "string", "nullable": true, "description": "AI-gegenereerde samenvatting in B1-Nederlands" },
          "ai_keywords": { "type": "array", "items": { "type": "string" }, "nullable": true },
          "organisation": { "type": "string" },
          "publication_date": { "type": "string", "format": "date" },
          "document_type": { "type": "string" },
          "category": { "type": "string" },
          "theme": { "type": "string" },
          "metadata": { "type": "object" },
          "synced_at": { "type": "string", "format": "date-time" },
          "ai_enhanced_at": { "type": "string", "format": "date-time", "nullable": true }
        }
      },
      "PaginatedDocuments": {
        "type": "object",
        "properties": {
          "data": { "type": "array", "items": { "$ref": "#/components/schemas/SearchHit" } },
          "total": { "type": "integer" },
          "page": { "type": "integer" },
          "per_page": { "type": "integer" },
          "total_pages": { "type": "integer" }
        }
      },
      "Dossier": {
        "allOf": [
          { "$ref": "#/components/schemas/Document" },
          { "type": "object", "properties": { "members": { "type": "array", "items": { "$ref": "#/components/schemas/SearchHit" } } } }
        ]
      },
      "ChatResponse": {
        "type": "object",
        "properties": {
          "answer": { "type": "string", "description": "AI-gegenereerd antwoord" },
          "conversation_id": { "type": "string" },
          "sources": { "type": "array", "items": { "$ref": "#/components/schemas/Source" } }
        }
      },
      "Source": {
        "type": "object",
        "properties": {
          "num": { "type": "integer" },
          "id": { "type": "string" },
          "title": { "type": "string" },
          "organisation": { "type": "string" },
          "date": { "type": "string" },
          "url": { "type": "string" }
        }
      },
      "Conversation": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "title": { "type": "string" },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" }
        }
      },
      "ChatMessage": {
        "type": "object",
        "properties": {
          "type": { "type": "string", "enum": ["user", "ai"] },
          "text": { "type": "string" },
          "answer": { "type": "string", "nullable": true },
          "sources": { "type": "array", "items": { "$ref": "#/components/schemas/Source" }, "nullable": true }
        }
      },
      "IngestDocument": {
        "type": "object",
        "required": ["external_id", "title"],
        "properties": {
          "external_id": { "type": "string", "description": "Unieke document identifier" },
          "title": { "type": "string", "maxLength": 1000 },
          "description": { "type": "string", "nullable": true },
          "content": { "type": "string", "nullable": true, "description": "Volledige documentinhoud" },
          "publication_date": { "type": "string", "format": "date", "nullable": true },
          "document_type": { "type": "string", "nullable": true },
          "category": { "type": "string", "nullable": true },
          "theme": { "type": "string", "nullable": true },
          "organisation": { "type": "string", "nullable": true },
          "metadata": { "type": "object", "nullable": true },
          "source": { "type": "string", "nullable": true, "description": "Naam van de aanleverende bron" }
        }
      },
      "BatchResult": {
        "type": "object",
        "properties": {
          "status": { "type": "string" },
          "created": { "type": "integer" },
          "updated": { "type": "integer" },
          "errors": { "type": "integer" },
          "total": { "type": "integer" },
          "details": { "type": "array", "items": { "type": "object" } }
        }
      },
      "Stats": {
        "type": "object",
        "properties": {
          "total_documents": { "type": "integer" },
          "total_enriched": { "type": "integer" },
          "latest_sync": { "type": "string", "format": "date-time" },
          "organisations": { "type": "array", "items": { "type": "object", "properties": { "organisation": { "type": "string" }, "count": { "type": "integer" } } } },
          "themes": { "type": "array", "items": { "type": "object", "properties": { "theme": { "type": "string" }, "count": { "type": "integer" } } } },
          "monthly_publications": { "type": "array", "items": { "type": "object", "properties": { "month": { "type": "string" }, "count": { "type": "integer" } } } },
          "top_categories": { "type": "array", "items": { "type": "object", "properties": { "category": { "type": "string" }, "count": { "type": "integer" } } } }
        }
      }
    }
  }
}
